@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <h4> Home | <a asp-controller="Home" asp-action="FormDish">Add a Dish</a></h4>

</div>
<div>
    <h6>Check out some recent dishes</h6>
    @foreach (Dish dish in @Model)
    {
        <p><a asp-controller="Home" asp-action="Dish" asp-route-id_dish="@dish.DishId">@dish.Name</a> by @dish.Chef</p>
    }
</div>
